* {
	font-family: "inter";
}

body {
	font-size: 16px;
	width: 70rem;  
	margin: 0 auto;
	background: var(--theme__color--background);
	color: var(--theme__color--foreground);
}

/* Header and navigation */

a.fa-solid {
	width: 2rem;
}

.header__top-row {
	position: sticky;
	top: 0;
	display: flex;
	flex-flow: column;
	width: 100%;
	height: 2rem;	
	background: var(--theme__color--background)
}

nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.4rem;
	background: var(--theme__color--active);
	padding:1.5rem;
	border-radius: var(--main__border-radius);
	/* margin-left: var(--main__margin-left); */
}

.span__TOC {
	font-size: 1.3rem;	
}


.header__hero {
	display: flex;
	margin-bottom: var(--main__margin-bottom);
}

.heading {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	height: 33.5rem;	
	margin-left: 1rem;
	background-color: var(--theme__color--normal);
	font-weight: 500;
	border-radius: var(--main__border-radius);
	overflow: hidden;
}

.heading__text-container {
	font-size: 4rem;
	opacity: 0.8;
	padding: 1rem 2rem;
	border-radius: var(--main__border-radius);
	backdrop-filter: blur(5px);
	margin-bottom: 1rem;
}

.heading__image-container {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
	height: 100%;
	background-image: url(../assets/valdemaras-library.jpeg);
	background-position: bottom;
	background-size: cover;
}

/* MAIN SECTION BELOW */


.main__type-heading {
	font-weight: var(--section__heading-font-weight);
	font-size: var(	--section__heading-font-size);
}

.component__main-type {
	display: flex;
	flex-direction: column;	
	margin-top: var(--main__margin-bottom);
	gap: var(--component__margin-bottom);
	margin-bottom: var(--main__margin-bottom);
}

.to-top-link {
	text-align: end;
	font-weight: 500;
	padding: 0.5rem 1rem;
	border: 1px solid black;
	border-radius: var(--main__border-radius);
	width: fit-content;
	margin-left: auto;

}
/* FOOTER */	

footer {
	height: 20vh;  /* temporary working space */
}

