* {
	font-family: "inter";
}

body {
	font-size: 16px;
	width: 70rem;  
	margin: 0 auto;
	background: var(--theme__color--background);
	color: var(--theme__color--foreground);
}

/* Header and navigation */

a.fa-solid {
	width: 2rem;
}

.header__top-row {
	position: sticky;
	top: 0;
	display: flex;
	flex-flow: column;
	width: 100%;
	height: 2rem;	
	background: var(--theme__color--background)
}

nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.4rem;
	background: var(--theme__color--active);
	padding:1.5rem;
	border-radius: var(--main__border-radius);
	/* margin-left: var(--main__margin-left); */
}

.span__TOC {
	font-size: 1.3rem;	
}


.header__hero {
	display: flex;
	margin-bottom: var(--main__margin-bottom);
}

.heading {
	display: flex;
	justify-content: center;	
	width: 100%;
	height: 33.5rem;	
	margin-left: 1rem;
	background-color: var(--theme__color--normal);
	border-radius: var(--main__border-radius);
}

.heading__text-container {
	font-size: 4rem;
	margin-top: 3rem;

}

/* MAIN SECTION BELOW */


.main__type-heading {
	font-weight: var(--section__heading-font-weight);
	font-size: var(	--section__heading-font-size);
}

.component__main-type {
	display: flex;
	flex-direction: column;	
	margin-top: var(--main__margin-bottom);
	gap: var(--component__margin-bottom);
	margin-bottom: var(--main__margin-bottom);
}



/* Accordion section */


.accordion__type {
	display: flex;
	flex-direction: row;		
	margin-left: var(--main__margin-left);	
}

.accordion__component {
	width: 34rem;
	margin-left: auto;
	margin-right: 20rem;

}

.accordion__button {
	background: #F0EBD8;
	display: flex;
	width: 100%;
	height: var(--main__button-height);
	justify-content: flex-start;
	align-items: center;
	padding: 0.5rem 2rem;
	gap: 1.7rem;	
}

.accordion__expanded { 		
	border: 1px solid black; 
	border-radius: var(--main__border-radius);
	overflow: hidden;
}

.accordion__content {   
	display: none;
}

.accordion__button--expanded { 	
	border: none;
	border-radius: 0;	
}

.accordion__content--expanded {  /* Add class to .accordion__content to expand */
	display: block; 
	margin-left: 2rem;
	padding: 0.5rem 2rem;	
}

.symbol {					/* Add class to .accordion__button -> img to expand */
	rotate: 180deg; 
}

button:hover {
	background: #B1BFD0;
}

button:active {
	background: #8093A5;
}



/* Button Section */

.button__type {
	display: flex;
	flex-direction: row;		
	margin-left: var(--main__margin-left);	
}

.button__component {
	width: 5rem;
	margin-left: auto;
	margin-right: 40rem;

}

button {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #F0EBD8;
	padding: 0.5rem 2rem;	
	border: 1px solid black;
	border-radius: var(--main__border-radius);
	width: 12rem;
	height: var(--main__button-height);
}

.button--hovered {
	background: #B1BFD0;
}

.button--active {
	background: #8093A5;
}

button:hover {
	background: #B1BFD0;
}

button:active {
	background: #8093A5;
}

/* Badge Section */

.badge__type {
	display: flex;
	flex-direction: row;		
	margin-left: var(--main__margin-left);	
}

.badge__component {
	width: 34rem;
	margin-left: auto;
	margin-right: 20rem;
}

.badge__new {
	display: flex;	
	justify-content: center;
	width: 4rem;
	border: 2px solid black;
	border-radius: var(--main__border-radius);
	background: var(--theme__color--normal);
	font-weight: 600;
}

.badge__info {
	display: inline-flex;	
	justify-content: center;
	width: 4rem;
	border: 2px solid black;
	border-radius: var(--main__border-radius);
	background: var(--theme__color--normal);
	font-weight: 600;
	margin: 0 0.5rem;
}

.badge__alert {
	display: inline-flex;	
	justify-content: center;
	width: 1.6rem;
	border: 2px solid black;
	border-radius: var(--main__border-radius);
	background: var(--theme__color--alert);
	font-weight: 600;
	margin: 0.5rem;
}

.button__alert {
	position: relative;
}

.badge__example-alert {
	position: absolute;
	right: -15px;
	top: -15px;
	z-index: 10;
}

.button__alert:hover .badge__example-alert {
animation: bounce 1s ease-out both;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
	40% {transform: translateY(-15px);} 
	60% {transform: translateY(-7px);} 
 } 


/* Breadcrumbs Section */


.breadcrumb__type {
	display: flex;
	flex-direction: row;		
	margin-left: var(--main__margin-left);	
}

.breadcrumb__component {
	width: 550px;
	margin-left: auto;
	margin-right: 20rem;
	font-weight: 700;
}

.fa-house {
	margin-right: 0.4rem;
	0.5px;
}

/* Multiple Breadcrumbs */
.breadcrumb__path:not(:first-of-type)::before {
	content: " > ";
}

.breadcrumb__path:hover {
	color: var(--theme__color--active);
}


/* Hover Breadcrumbs (static) */

.breadcrumb__path--hover {
	color: var(--theme__color--active);
}
.breadcrumb__path--static:not(:first-of-type)::before {
	content: " > ";
}

.breadcrumb__path--hover::before {
	content: " > ";
}

/* Card section */
.card__type {
	display: flex;
	flex-direction: row;		
	margin-left: var(--main__margin-left);
}

.card__component {
	display: flex;
	align-items: center;
	width: 42rem;
	height: 10rem;
	background: var(--theme__color--normal);
	margin-left: var(--main__margin-left);
	font-weight: 700;
	border-radius: var(--main__border-radius);
}

.card__component>div {
	display: flex;
	align-items: flex-start;
	margin: 1rem 2rem;
	width: 38rem;
	height: 6rem;

}

.card__infocard {
	display: flex;
	text-justify: center;
	align-items: center;
	font-weight: 400;
	padding: 0 1.5rem;
}

.card__comment-symbol {
	
}

/*  Checkbox Section */

fieldset {
	display: flex;
	flex-flow: column;
	margin-left: var(--main__margin-left);
	border: none;
	width: 22rem;
	font-weight: 700;
	gap: var(--component__margin-bottom);
}

label {
	text-align: end;
}

#checkbox__example-live:hover {
	transform: scale(1.4);
	animation: pop 300ms linear;
}


@keyframes pop {
	0%  {transform: scale(1);} 
	40% {transform: scale(2);} 
	60% {transform: scale(1.6);} 
	100%  {transform: scale(1.4);} 
 } 


/*  Radio Section */

.radio-horizontal-container {
	display: flex;
	flex-direction: row;
	margin-left: var(--main__margin-left);
	gap: var(--component__margin-bottom);
}

input[type="radio"]:hover {
	transform: scale(1.4);
	animation: pop 300ms linear;
}

/*  Drawer Section */
	/* Drawer mobile */

.drawer__type {
	display: flex;
	flex-direction: row;		
	margin-left: var(--main__margin-left);	
}

.drawer__component {
	width: 34rem;
	margin-left: auto;
	margin-right: 20rem;
	margin-bottom: var(--component__margin-bottom);

}

.drawer__type {
	display: flex;
	flex-direction: column;
}

.drawer__background {
	background: lightgrey;
	height: 50rem;
	width: 35rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.drawer__field {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: var(--theme__color--background);
	width: 24rem;
	height: 42rem;
	padding: 1.8rem 2rem;
}

.drawer__heading {
	font-size: 1.5rem;
	transform: translateY(-3rem);
}

.drawer__content {
	font-size: 1.1rem;
	font-weight: 400;
	transform: translateY(-6rem);
}

.drawer__button-container {
	display: flex;
	justify-content: space-around;
}

.ok, 
.cancel {
	width: 7.5rem;
	font-weight: 400;
}

.cancel {
	background-color: var(--theme__color--background);
}

.ok:hover, 
.cancel:hover {
	background: var(--theme__color--hover);
} 

/* Drawer desktop */
.drawer__desktop-background {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: lightgrey;
	width: 80rem;
	height: 60rem;
	transform: translateX(calc(-10rem/2));  /* Center drawer background */ 
	padding-top: var(--main__margin-bottom);
}

.drawer__screen {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 90%; 
	height: 90%;
	background: var(--theme__color--active);
}

.drawer__desktop-field {
	display: flex;
	flex-direction: column;
	background: var(--theme__color--background);
	width: 24rem;
	height: 100%;
	padding: 1.8rem 2rem;
}

.drawer__desktop-field-center {
	display: flex;
	flex-flow: column;
	justify-content: space-evenly;
	height: 100%;

}

.drawer__desktop-heading {
	font-size: 1.5rem;
	transform: translateY(-4rem);
}

.drawer__desktop-content {
	font-size: 1.2rem;
	font-weight: 400;
	transform: translateY(-8rem);
}

/*  Drawer arrows */
.drawer__arrow-container {
	display: flex;
	margin-top: 0.8rem;
	width: 90%;
	text-align: center;
}

.drawer__arrow-solid {
	width: 100%;
}

.drawer__arrow-fade {

}

.drawer__percentage {
	transform: translateY(-1.1rem);
}

/*  Tabs */
/* Tab states */

.tabs__type-collection {
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	width: 60rem;
	height: 20rem;
}

.tabs__state-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background: lightgrey;
	width: 9.3rem;
	height: 9.3rem;
}

.tabs__component {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 7.2rem;
	height: 7.2rem;
	background:var(--theme__color--background);
} 

.tabs__component>hr {  
	width: 2.7rem;
	border: 0.07rem solid;
}

.tabs__component--inactive {
	color: var(--theme__color--active);
}

.tabs__line--inactive {
	color: var(--theme__color--active);
}

.tabs__line--hover {
	color: var(--theme__color--alert);
	
}

.tabs__line--active, .tabs__component--active {
	color: var(--theme__color--alert);
}

/* Tab example */
.tabs__type-example {
	
}


.tabs__example-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background: lightgrey;
	width: 55rem;
	height: 9.3rem;
	margin-left: var(--main__margin-left);

}

.tabs__example-foreground {
	display: flex;
	flex-direction: column;
	height: 7.2rem;
	background: var(--theme__color--background);
	width: calc(100% - (9.3rem - 7.2rem));		
}

.tabs__example-tabs-row {
	display: flex;
	width: auto;
	margin: 0 2rem;
}

.tabs__example-tabs-row div {
	height: 7.2;
	border-bottom: 0.15rem solid;
	padding: 0.7rem 2rem 0.5rem 0;
	color: var(--theme__color--active);
}

.tabs__example-rightOfTabs-filler {
	width: 100%;
}

/* Tabs interactivity */

.tabs__example-tabs-row div:hover:not(:last-of-type) {  /* Not last div; solely for border-bottom */
	border-color: var(--theme__color--alert);
	color: var(--theme__color--foreground);
}

.tabs__example-tabs-row div:active:not(:last-of-type) {  /* Not last div; solely for border-bottom */
	border-color: var(--theme__color--alert);
	color: var(--theme__color--alert);
}

/*  Toast section */

.toast__type {
	display: flex;
	flex-direction: row;		
	text-wrap: nowrap;
	margin-left: var(--main__margin-left);	

}

.toast__sub-heading {
	width: 7rem;
}

.toast__component-normal {
	display: flex;
	align-items: center;
	width: 36.6rem;
	height: 2.5rem;	
	background: var(--theme__color--normal);
	border-radius: 7px;	
	margin: 0 auto 0 5rem;
}

.toast__component-alert {
	display: flex;
	align-items: center;
	width: 36.6rem;
	height: 2.5rem;	
	background: var(--theme__color--alert);
	color: var(--theme__color--background);
	border-radius: 7px;	
	margin: 0 auto 0 5rem;
	font-size: 1.15rem;
}

.toast__component-with-button {
	display: flex;
	align-items: center;
	width: 36.6rem;
	height: 2.5rem;	
	background: var(--theme__color--normal);
	border-radius: 7px;	
	margin: 0 auto 0 5rem;
	font-size: 1.15rem;
}

.toast__symbol {
	padding: 0 0.8rem;
	position: relative;
	top: 0.15rem;
}

.toast__symbol--alert {
	color: var(--theme__color--background);
}

.toast__component-button {
	width: 6rem;
	height: 60%;
	background: var(--theme__color--background);
	margin: 0 1rem 0 auto;
	border-radius: 15px;
	font-size: 0.9rem;
	font-weight: 600;
}


/* FOOTER */	

footer {
	height: 20vh;  /* temporary working space */
}

