:root {
	/* Color variables */
	--theme__color--background: #fff;
	--theme__color--foreground: #000;
	--theme__color--normal: #F0EBD8;
	--theme__color--hover: #B1BFD0;
	--theme__color--active: #8093A5;
	--theme__color--expanded: #748CAB;
	--theme__color--alert: #e24646;

	/* Measure variables */
	--main__border-radius: 0.6rem;
	--main__margin-bottom: 4rem;
	--main__margin-left: 8rem;
	--main__button-height: 2rem;

	--component__margin-bottom: 2rem ;

	/* Text variables */
	--section__heading-font-size: 1.2rem;
	--section__heading-font-weight: 700;
}